
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {scroll-behavior: smooth;}
:root {
  font-family: 'Roboto';
  font-size: 20px;
}

body{
margin: 20px 70px;
}

h1{
  text-align: center;
}

a{
color: #3978CC;
text-decoration: none;
font-weight: bold;
padding: 5px;
margin: 10px;
font-style: 24px;

}

a:hover {
  text-decoration: underline;
}

h2 {
text-decoration: underline;
color: #046600;
font-size: 24px;
}

p{
margin: 40px 0px;
text-indent: 30pt;
}

#span1 {
  font-weight: bold;
color: rgb(209, 29, 29);
margin: 0px;
font-size: 20px;
}

#span1:hover {
  color: red;
  text-decoration: underline;
}

#span2 {
text-decoration: underline;
font-style: italic;
}

.span3 {
color: rgb(88, 88, 238);
}

li{
margin-top: 10px;
}

#about {
padding: 0px;
margin: 0px;
}