:root{
  font-size: 20px;
}

table{
  border-collapse: collapse;
}
.tab1 {
background-color: blue;
color: #fff;
}

.tab1 td {
  border: solid 2px rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  text-align: center;
}

.tab2 td {
  border-bottom: dotted 6px #dbdbdb;
  width: 50px;
  height: 50px;
  text-align: center;
}

.tab3 td, th{
  border: solid 2px rgb(44, 150, 53);
  width: 50px;
  height: 50px;
}

thead {
background-color: brown;
}

tfoot {
  background-color: orange;
}

